@media(max-width: 576px){ 
    /*=======================header======*/
  
    .nav  {  display: flex;

        width: 100%;
      
      
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    

    }
   
    
    .nav li  {
        display: none;
        
       
       
    }
    
    
    .menu-label {
        display: block;
    }
    
    #menu-toggle:checked ~ .nav li {
        display: flex;
        

    }
    #menu-toggle:checked ~ .nav  {
        display: flex;
      
        background: rgba(0, 0, 0, 0.72);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.7px);
       -webkit-backdrop-filter: blur(5.7px);
        border: 1px solid rgba(0, 0, 0, 0.3);
        

    }

    
     /*================== .D2   ========================================*/
     .hero1 h1 {
        font-size: 80px; 
    }
        
     .hero1 h2 { 
      

     }
     .d2  IMG{

        width: 100%;
        left: -140px;
        top: 125px;
      
        position: absolute;
        z-index: -1;
        
        
    }
    
      
    .Caracteristicas  {
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items: flex-start ;
        color: #7c787a;
        font-size: 20px;
        gap: 30px; 
        padding-top: 50px;
       
    }


    .hero2 {
        display: flex; 
        justify-content: center;
        align-items: center;

    }
    .hero2cards {
       
        border-radius: 1rem; 
        display: flex;
        gap: 1.4rem ;
        background: rgba(255, 255, 255, 0.31);
        background: rgba(255, 255, 255, 0.06);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
       -webkit-backdrop-filter: blur(20px);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
      
    }
    
      .imghero2 IMG{
        width: 400PX;

    }
     /*=======================iniciar sesion===============*/

     .login { 
        width: 320px;
    
       padding: 10px;
       border-radius: 10px;
       margin: 20px;
     
    }
    /*==============Contacto======================*/
    .content img  {
        max-width: 160px;
    }
    .content {
        max-width: 320px;
        flex-direction: column;
    }
    .contactmaster {
        display: flex;
        background: #582a2f;
        max-width: 250px;
    }
    .mapa1 iframe { 
      max-width: 100%;
    }



 /*=======================footer==================*/

 .socialsmaster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .footerimg  img{
    max-width: 300px;
 }
    

    
}

 /*============================================================================*/
@media (max-width: 992px) {
    /*=======================header==================*/

    header {
       
        width: 100%;
        justify-content: space-between;
        
    }


    .nav  {  display: flex;

        width: 100%;
      
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    

    }
   




    
    .nav li  {
        display: none;
        
       
       
    }
    
    
    .menu-label {
        display: block;
        order: 1;
    }
    
    #menu-toggle:checked ~ .nav li {
        display: flex;
        

    }
    #menu-toggle:checked ~ .nav  {
        display: flex;
      
        background: rgba(0, 0, 0, 0.72);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.7px);
       -webkit-backdrop-filter: blur(5.7px);
        border: 1px solid rgba(0, 0, 0, 0.3);
        

    }  
   
    /*=======================header=============*/
    .Caracteristicas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hero2cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      

    }
    .hero2cards img  {
        max-width: 100%;
       
}
     
     
    .d2 img {
        max-width: 550px;
       
        position: absolute;
       
       
       
    } 

    .hero1  img {
        position: absolute;
        top: 160px;
        left:-5% ;
        
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .contactmaster {
        display: flex;
        flex-direction: column;
    }






  
}




